# os and ide stuff
.DS_Store
.vscode/
build/

# cython
*/__pycache__/
**/__pycache__/

# behind-the-scenes
data/source/
data/raw/
data/macronized/

diagnostics/
scripts/
bench_clean.py
create-badge.cjs
TODO.md

# tests
*test*.py
data/compiled/test/*

# single-use scripts
extract_isthmian_epodes.py
remove_single_strophe_cantica.py

# temp
logs/
tmp_stats/

# old
*_old.*

# barys
src/responsio_accentuum/stats_barys_float.py
src/responsio_accentuum/stats_barys.py

# website
_layouts/
.github/
assets/*
_config.yml
Gemfile
index.html

