.DS_Store
.vscode/
*/__pycache__/
**/__pycache__/

data/source/
diagnostics/
scripts/

bench_clean.py

logs/

data/macronized/*
data/raw/*

data/compiled/test/*

*test*.py

create-badge.cjs

TODO.md

# single-use scripts
extract_isthmian_epodes.py
remove_single_strophe_cantica.py

# temp
tmp_stats/

# website

_layouts/
.github/
assets/*
_config.yml
Gemfile
index.html

